Cargar Data y primeros analisis

In [1]:
import bootcampviztools as bt
import hashlib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import modulo_toolbox as mtb
import requests
import seaborn as sns
import time
import toolbox_ML as tb
import warnings

warnings.filterwarnings('ignore')

In [2]:
df_DC = pd.read_csv('./heroes_dc_extended')

In [3]:
df_DC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       73 non-null     int64
 1   nombre_completo  61 non-null     object
 2   nombre           73 non-null     object
 3   universo         73 non-null     object
 4   url              73 non-null     object
 5   Intelligence     73 non-null     int64
 6   Strength         73 non-null     int64
 7   Speed            73 non-null     int64
 8   Durability       73 non-null     int64
 9   Power            73 non-null     int64
 10  Combat           73 non-null     int64
 11  Tier             73 non-null     int64
 12  Tier2            9 non-null      object
 13  heroe            73 non-null     object
dtypes: int64(8), object(6)
memory usage: 8.1+ KB

In [4]:
from itertools import combinations


# Crear combinaciones de pares de héroes
pairs = list(combinations(df_DC.index, 2))

# Crear un nuevo DataFrame para los pares de héroes y resultados de batallas
battle_data = []

for i, j in pairs:
    hero1 = df_DC.loc[i]
    hero2 = df_DC.loc[j]
       
   
    battle_data.append({
        'Heroe_1': hero1['nombre'],
        'Heroe_2': hero2['nombre'],
        
    })

In [5]:
df_batallas.head(50)

NameError: name 'df_batallas' is not defined

In [ ]:
df_batallas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3655 entries, 0 to 3654
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Heroe_1  3655 non-null   object
 1   Heroe_2  3655 non-null   object
dtypes: object(2)
memory usage: 57.2+ KB

In [ ]:
# Mostrar las primeras filas del dataframe para inspeccionar
df_DC.head(20)

,Unnamed: 0,nombre_completo,nombre,universo,url,Intelligence,Strength,Speed,Durability,Power,Combat,Tier,Tier2,heroe
0,0,Alfred Pennyworth,Alfred,DC Extended Universe,https://www.superherodb.com/alfred/10-14275/#shdb,65,1,1,5,1,20,0,NaN,Alfred
1,1,Amanda Blake Waller,Amanda Waller,DC Extended Universe,https://www.superherodb.com/amanda-waller/10-3...,65,1,1,5,10,30,0,NaN,Amanda Waller
2,2,NaN,Anthea,DC Extended Universe,https://www.superherodb.com/anthea/10-54768/#user,0,0,0,0,0,0,0,NaN,Anthea
3,3,Arthur Curry,Aquaman,DC Extended Universe,https://www.superherodb.com/aquaman/10-12533/,65,50,25,30,45,80,3,NaN,Aquaman
4,4,Ares,Ares,DC Extended Universe,https://www.superherodb.com/ares/10-12597/,90,100,50,50,70,100,4,4,Ares
5,5,Albert Rothstein,Atom Smasher,DC Extended Universe,https://www.superherodb.com/atom-smasher/10-27...,60,30,25,25,40,20,2,NaN,Atom Smasher
6,6,Bruce Wayne,Batman,DC Extended Universe,https://www.superherodb.com/batman/10-12530/,80,13,11,15,20,95,1,NaN,Batman
7,7,Teth-Adam,Black Adam,DC Extended Universe,https://www.superherodb.com/black-adam/10-21003/,65,100,75,45,75,75,3,3,Black Adam
8,8,Dinah Lance,Black Canary,DC Extended Universe,https://www.superherodb.com/black-canary/10-18...,55,1,6,5,35,40,1,NaN,Black Canary
9,9,David Kane,Black Manta,DC Extended Universe,https://www.superherodb.com/black-manta/10-15579/,70,25,25,20,40,60,2,NaN,Black Manta
10,10,Roman Sionis,Black Mask,DC Extended Universe,https://www.superherodb.com/black-mask/10-18619/,60,1,6,5,5,30,0,NaN,Black Mask
11,11,Robert DuBois,Bloodsport,DC Extended Universe,https://www.superherodb.com/bloodsport/10-21321/,70,1,8,15,20,85,1,NaN,Bloodsport
12,12,Digger Harkness,Captain Boomerang,DC Extended Universe,https://www.superherodb.com/captain-boomerang/...,45,1,6,7,10,40,0,NaN,Captain Boomerang
13,13,NaN,Cassandra Cain,DC Extended Universe,https://www.superherodb.com/cassandra-cain/10-...,45,1,1,1,1,30,0,NaN,Cassandra Cain
14,14,Barbara Ann Minerva,Cheetah,DC Extended Universe,https://www.superherodb.com/cheetah/10-20281/,60,50,14,15,30,65,1,NaN,Cheetah
15,15,Victor Stone,Cyborg,DC Extended Universe,https://www.superherodb.com/cyborg/10-12532/,70,40,30,35,65,50,2,NaN,Cyborg
16,16,Maxine Hunkel,Cyclone,DC Extended Universe,https://www.superherodb.com/cyclone/10-27871/,80,1,25,15,50,40,1,NaN,Cyclone
17,17,Barry Allen,Dark Flash,DC Extended Universe,https://www.superherodb.com/dark-flash/10-58454/,80,25,100,35,85,50,5,NaN,Dark Flash
18,18,Uxas,Darkseid,DC Extended Universe,https://www.superherodb.com/darkseid/10-21002/,95,100,30,55,90,95,4,4,Darkseid
19,19,NaN,Darla Dudley,DC Extended Universe,https://www.superherodb.com/darla-dudley/10-19...,0,0,0,0,0,0,0,NaN,Darla Dudley

Nuevo data con batallas

In [ ]:
from itertools import combinations

# Crear combinaciones de pares de héroes
pairs = list(combinations(df_DC.index, 2))

# Crear un nuevo DataFrame para los pares de héroes y resultados de batallas
battle_data = []

for i, j in pairs:
    hero1 = df_DC.loc[i]
    hero2 = df_DC.loc[j]
    fuerza1 = hero1['Fuerza_Total']
    fuerza2 = hero2['Fuerza_Total']
    
    # Determinar el resultado de la batalla
    if fuerza1 > fuerza2:
        resultado = 'Gana'
    elif fuerza1 < fuerza2:
        resultado = 'Pierde'
    else:
        resultado = 'Empata'
    
    battle_data.append({
        'Heroe_1': hero1['nombre'],
        'Fuerza_Heroe_1': fuerza1,
        'Heroe_2': hero2['nombre'],
        'Fuerza_Heroe_2': fuerza2,
        'Resultado': resultado
    })

In [ ]:
# Convertir la lista de batallas en un DataFrame
battle_df = pd.DataFrame(battle_data)

# Mostrar las primeras filas del DataFrame de batallas
battle_df.head(50)

   Heroe_1  Fuerza_Heroe_1            Heroe_2  Fuerza_Heroe_2 Resultado
0   Alfred              93      Amanda Waller             112    Pierde
1   Alfred              93             Anthea               0      Gana
2   Alfred              93            Aquaman             295    Pierde
3   Alfred              93               Ares             460    Pierde
4   Alfred              93       Atom Smasher             200    Pierde
5   Alfred              93             Batman             234    Pierde
6   Alfred              93         Black Adam             435    Pierde
7   Alfred              93       Black Canary             142    Pierde
8   Alfred              93        Black Manta             240    Pierde
9   Alfred              93         Black Mask             107    Pierde
10  Alfred              93         Bloodsport             199    Pierde
11  Alfred              93  Captain Boomerang             109    Pierde
12  Alfred              93     Cassandra Cain              79      Gana
13  Alfred              93            Cheetah             234    Pierde
14  Alfred              93             Cyborg             290    Pierde
15  Alfred              93            Cyclone             211    Pierde
16  Alfred              93         Dark Flash             375    Pierde
17  Alfred              93           Darkseid             465    Pierde
18  Alfred              93       Darla Dudley               0      Gana
19  Alfred              93           Deadshot             136    Pierde
20  Alfred              93        Deathstroke               0      Gana
21  Alfred              93        Doctor Fate             420    Pierde
22  Alfred              93      Doctor Sivana             390    Pierde
23  Alfred              93           Doomsday             325    Pierde
24  Alfred              93           Dr. Maru               0      Gana
25  Alfred              93          El Diablo             176    Pierde
26  Alfred              93    Emilia Harcourt             155    Pierde
27  Alfred              93        Enchantress             328    Pierde
28  Alfred              93               Envy             360    Pierde
29  Alfred              93              Faora             425    Pierde
30  Alfred              93     Freddy Freeman               0      Gana
31  Alfred              93        General Zod             420    Pierde
32  Alfred              93           Gluttony             360    Pierde
33  Alfred              93      Green Lantern             340    Pierde
34  Alfred              93       Harley Quinn             173    Pierde
35  Alfred              93            Hawkman             275    Pierde
36  Alfred              93            Hespera               0      Gana
37  Alfred              93           Huntress             112    Pierde
38  Alfred              93            Incubus             201    Pierde
39  Alfred              93              Joker             133    Pierde
40  Alfred              93             Jor-El             187    Pierde
41  Alfred              93         Judomaster             192    Pierde
42  Alfred              93            Kalypso               0      Gana
43  Alfred              93           Karathen             335    Pierde
44  Alfred              93             Katana             167    Pierde
45  Alfred              93        Killer Croc             174    Pierde
46  Alfred              93        King Nereus             290    Pierde
47  Alfred              93         King Shark             202    Pierde
48  Alfred              93              Ladon               0      Gana
49  Alfred              93         Lex Luthor             103    Pierde

Mapeo atributos heroes en dataframe batallas

In [ ]:
# Vamos a añadir las columnas de atributos para cada héroe
# hero_attributes = ['Intelligence', 'Strength', 'Speed', 'Durability', 'Power', 'Combat']

In [ ]:
# # Unir los atributos de Héroe_1
# for attr in hero_attributes:
#     battle_df[f'Heroe_1_{attr}'] = battle_df['Heroe_1'].map(df_DC.set_index('nombre')[attr])

# # Unir los atributos de Héroe_2
# for attr in hero_attributes:
#     battle_df[f'Heroe_2_{attr}'] = battle_df['Heroe_2'].map(df_DC.set_index('nombre')[attr])

In [ ]:
# # Convertir el resultado a valores numéricos
# result_mapping = {'Gana': 1, 'Pierde': 0, 'Empata': 2}
# battle_df['Resultado_Numerico'] = battle_df['Resultado'].map(result_mapping)

In [ ]:
battle_df.iloc[150:200]

,Heroe_1,Fuerza_Heroe_1,Heroe_2,Fuerza_Heroe_2,Resultado
150,Amanda Waller,112,Rick Flag,152,Pierde
151,Amanda Waller,112,Sabbac,410,Pierde
152,Amanda Waller,112,Savant,112,Empata
153,Amanda Waller,112,Shazam,355,Pierde
154,Amanda Waller,112,Slipknot,87,Gana
155,Amanda Waller,112,Sol Soria,107,Gana
156,Amanda Waller,112,Starro,275,Pierde
157,Amanda Waller,112,Steppenwolf,415,Pierde
158,Amanda Waller,112,Steve Trevor,117,Pierde
159,Amanda Waller,112,Supergirl,345,Pierde
160,Amanda Waller,112,Superman,440,Pierde
161,Amanda Waller,112,T.D.K.,137,Pierde
162,Amanda Waller,112,The Flash,360,Pierde
163,Amanda Waller,112,Turner Hayes,190,Pierde
164,Amanda Waller,112,Vigilante,158,Pierde
165,Amanda Waller,112,White Dragon,173,Pierde
166,Amanda Waller,112,Wonder Woman (Armor of Asteria),460,Pierde
167,Amanda Waller,112,Wrath,360,Pierde
168,Amanda Waller,112,Zeus,435,Pierde
169,Anthea,0,Aquaman,295,Pierde
170,Anthea,0,Ares,460,Pierde
171,Anthea,0,Atom Smasher,200,Pierde
172,Anthea,0,Batman,234,Pierde
173,Anthea,0,Black Adam,435,Pierde
174,Anthea,0,Black Canary,142,Pierde
175,Anthea,0,Black Manta,240,Pierde
176,Anthea,0,Black Mask,107,Pierde
177,Anthea,0,Bloodsport,199,Pierde
178,Anthea,0,Captain Boomerang,109,Pierde
179,Anthea,0,Cassandra Cain,79,Pierde
180,Anthea,0,Cheetah,234,Pierde
181,Anthea,0,Cyborg,290,Pierde
182,Anthea,0,Cyclone,211,Pierde
183,Anthea,0,Dark Flash,375,Pierde
184,Anthea,0,Darkseid,465,Pierde
185,Anthea,0,Darla Dudley,0,Empata
186,Anthea,0,Deadshot,136,Pierde
187,Anthea,0,Deathstroke,0,Empata
188,Anthea,0,Doctor Fate,420,Pierde
189,Anthea,0,Doctor Sivana,390,Pierde
190,Anthea,0,Doomsday,325,Pierde
191,Anthea,0,Dr. Maru,0,Empata
192,Anthea,0,El Diablo,176,Pierde
193,Anthea,0,Emilia Harcourt,155,Pierde
194,Anthea,0,Enchantress,328,Pierde
195,Anthea,0,Envy,360,Pierde
196,Anthea,0,Faora,425,Pierde
197,Anthea,0,Freddy Freeman,0,Empata
198,Anthea,0,General Zod,420,Pierde
199,Anthea,0,Gluttony,360,Pierde

In [ ]:
battle_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3655 entries, 0 to 3654
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Heroe_1         3655 non-null   object
 1   Fuerza_Heroe_1  3655 non-null   int64
 2   Heroe_2         3655 non-null   object
 3   Fuerza_Heroe_2  3655 non-null   int64
 4   Resultado       3655 non-null   object
dtypes: int64(2), object(3)
memory usage: 142.9+ KB

In [ ]:
# battle_df.to_csv('batallas_Dc')