Cargar Data

In [1]:
import bootcampviztools as bt
import hashlib
import itertools

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import modulo_toolbox as mtb
import requests
import seaborn as sns
import time
import toolbox_ML as tb
import warnings

warnings.filterwarnings('ignore')

In [2]:
df_DC = pd.read_csv('./data/heroes_dc_extended')

In [3]:
df_DC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       73 non-null     int64
 1   nombre_completo  61 non-null     object
 2   nombre           73 non-null     object
 3   universo         73 non-null     object
 4   url              73 non-null     object
 5   Intelligence     73 non-null     int64
 6   Strength         73 non-null     int64
 7   Speed            73 non-null     int64
 8   Durability       73 non-null     int64
 9   Power            73 non-null     int64
 10  Combat           73 non-null     int64
 11  Tier             73 non-null     int64
 12  Tier2            9 non-null      object
 13  heroe            73 non-null     object
dtypes: int64(8), object(6)
memory usage: 8.1+ KB

In [4]:
# Extraer nombres de los héroes
heroes = df_DC['heroe'].tolist()

In [5]:
# Generar combinaciones ficticias de enfrentamientos
enfrentamientos = list(itertools.combinations(heroes, 2))

In [6]:
# Crear el dataframe de enfrentamientos
enfrentamientos_df = pd.DataFrame(enfrentamientos, columns=['Heroe_1', 'Heroe_2'])

In [7]:
# Guardar el dataframe de enfrentamientos en un archivo CSV
output_file_path = './data/enfrentamientos_heroes_dc.csv'
enfrentamientos_df.to_csv(output_file_path, index=False)

output_file_path

'./data/enfrentamientos_heroes_dc.csv'

BATALLAS Y RESULTADO

In [8]:
battle_DC = pd.read_csv('./data/enfrentamientos_heroes_dc.csv')

In [9]:
battle_DC

           Heroe_1       Heroe_2
0          Aquaman          Ares
1          Aquaman  Atom Smasher
2          Aquaman        Batman
3          Aquaman    Black Adam
4          Aquaman  Black Canary
...            ...           ...
2623  White Dragon         Wrath
2624  White Dragon          Zeus
2625  Wonder Woman         Wrath
2626  Wonder Woman          Zeus
2627         Wrath          Zeus

[2628 rows x 2 columns]

In [10]:
# Función para calcular la puntuación total de un héroe
def calcular_puntuacion(heroe, df):
    stats = df[df['heroe'] == heroe][['Intelligence', 'Strength', 'Speed', 'Durability', 'Power', 'Combat']].values[0]
    return sum(stats)

# Crear una nueva columna para los resultados
resultados = []

for index, row in enfrentamientos_df.iterrows():
    heroe_1 = row['Heroe_1']
    heroe_2 = row['Heroe_2']
    
    puntuacion_1 = calcular_puntuacion(heroe_1, df_DC)
    puntuacion_2 = calcular_puntuacion(heroe_2, df_DC)
    
    if puntuacion_1 > puntuacion_2:
        resultado = 1
    elif puntuacion_1 < puntuacion_2:
        resultado = 2
    else:
        resultado = 0
    
    resultados.append(resultado)

# Añadir la columna de resultados al dataframe de enfrentamientos
enfrentamientos_df['Resultado'] = resultados

# # Guardar el dataframe actualizado en un archivo CSV
# output_file_path_updated = '/mnt/data/enfrentamientos_heroes_dc_con_resultados.csv'
# enfrentamientos_df.to_csv(output_file_path_updated, index=False)

# output_file_path_updated

In [11]:
enfrentamientos_df

           Heroe_1       Heroe_2  Resultado
0          Aquaman          Ares          2
1          Aquaman  Atom Smasher          1
2          Aquaman        Batman          1
3          Aquaman    Black Adam          2
4          Aquaman  Black Canary          1
...            ...           ...        ...
2623  White Dragon         Wrath          2
2624  White Dragon          Zeus          2
2625  Wonder Woman         Wrath          1
2626  Wonder Woman          Zeus          1
2627         Wrath          Zeus          2

[2628 rows x 3 columns]

In [12]:

batallas_resultados = pd.read_csv('./data/enfrentamientos_heroes_dc_con_resultados_narrativos.csv')

In [13]:
batallas_resultados.head()

   Heroe_1       Heroe_2  Resultado_x  Resultado_y  Resultado
0  Aquaman          Ares            2          2.0        2.0
1  Aquaman  Atom Smasher            1          1.0        1.0
2  Aquaman        Batman            1          1.0        2.0
3  Aquaman    Black Adam            2          2.0        2.0
4  Aquaman  Black Canary            1          1.0        1.0

In [14]:
batallas_resultados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2628 entries, 0 to 2627
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Heroe_1      2628 non-null   object
 1   Heroe_2      2628 non-null   object
 2   Resultado_x  2628 non-null   int64
 3   Resultado_y  5 non-null      float64
 4   Resultado    5 non-null      float64
dtypes: float64(2), int64(1), object(2)
memory usage: 102.8+ KB

BATALLAS DC COMPLETO

In [25]:
# Data battle_df
battle_df = pd.read_csv('./data/enfrentamientos_heroes_dc_con_resultados_narrativos.csv')
battle_df.head()

   Heroe_1       Heroe_2  Resultado_x  Resultado_y  Resultado
0  Aquaman          Ares            2          2.0        2.0
1  Aquaman  Atom Smasher            1          1.0        1.0
2  Aquaman        Batman            1          1.0        2.0
3  Aquaman    Black Adam            2          2.0        2.0
4  Aquaman  Black Canary            1          1.0        1.0

In [24]:
# Data hero_atribute_df
hero_atribute_df = pd.read_csv('./data/heroes_dc_extended')
hero_atribute_df.head()

,Unnamed: 0,nombre_completo,nombre,universo,url,Intelligence,Strength,Speed,Durability,Power,Combat,Tier,Tier2,heroe
0,0,Arthur Curry,Aquaman,DC Extended Universe,https://www.superherodb.com/aquaman/10-12533/,65,50,25,30,45,80,3,NaN,Aquaman
1,1,Ares,Ares,DC Extended Universe,https://www.superherodb.com/ares/10-12597/,90,100,50,50,70,100,4,4,Ares
2,2,Albert Rothstein,Atom Smasher,DC Extended Universe,https://www.superherodb.com/atom-smasher/10-27...,60,30,25,25,40,20,2,NaN,Atom Smasher
3,3,Bruce Wayne,Batman,DC Extended Universe,https://www.superherodb.com/batman/10-12530/,80,13,11,15,20,95,1,NaN,Batman
4,4,Teth-Adam,Black Adam,DC Extended Universe,https://www.superherodb.com/black-adam/10-21003/,65,100,75,45,75,75,3,3,Black Adam

In [36]:
# Data final battle_df + hero_atribute_df

# Merging the dataframes as per the given structure and paths
battle_merged_df = battle_df.merge(hero_atribute_df, left_on = 'Heroe_1', right_on='heroe', how='left')
battle_merged_df = battle_merged_df.merge(hero_atribute_df, left_on='Heroe_2', right_on='heroe', how='left', suffixes=('_1', '_2'))

# Select and rename relevant columns
final_battle_df = battle_merged_df[['Heroe_1', 'Heroe_2', 'universo_1', 'Intelligence_1', 'Strength_1', 'Speed_1', 
                                             'Durability_1', 'Power_1', 'Combat_1', 'Tier_1', 'Tier2_1',
                                             'universo_2', 'Intelligence_2', 'Strength_2', 'Speed_2', 
                                             'Durability_2', 'Power_2', 'Combat_2', 'Tier_2', 'Tier2_2',
                                             'Resultado_x']]

In [37]:
final_battle_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2628 entries, 0 to 2627
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Heroe_1         2628 non-null   object
 1   Heroe_2         2628 non-null   object
 2   universo_1      2628 non-null   object
 3   Intelligence_1  2628 non-null   int64
 4   Strength_1      2628 non-null   int64
 5   Speed_1         2628 non-null   int64
 6   Durability_1    2628 non-null   int64
 7   Power_1         2628 non-null   int64
 8   Combat_1        2628 non-null   int64
 9   Tier_1          2628 non-null   int64
 10  Tier2_1         359 non-null    object
 11  universo_2      2628 non-null   object
 12  Intelligence_2  2628 non-null   int64
 13  Strength_2      2628 non-null   int64
 14  Speed_2         2628 non-null   int64
 15  Durability_2    2628 non-null   int64
 16  Power_2         2628 non-null   int64
 17  Combat_2        2628 non-null   int64
 18  Tier_2          2628 non-null   int64
 19  Tier2_2         289 non-null    object
 20  Resultado_x     2628 non-null   int64
dtypes: int64(15), object(6)
memory usage: 431.3+ KB

In [38]:
final_battle_df.head()

,Heroe_1,Heroe_2,universo_1,Intelligence_1,Strength_1,Speed_1,Durability_1,Power_1,Combat_1,Tier_1,...,universo_2,Intelligence_2,Strength_2,Speed_2,Durability_2,Power_2,Combat_2,Tier_2,Tier2_2,Resultado_x
0,Aquaman,Ares,DC Extended Universe,65,50,25,30,45,80,3,...,DC Extended Universe,90,100,50,50,70,100,4,4,2
1,Aquaman,Atom Smasher,DC Extended Universe,65,50,25,30,45,80,3,...,DC Extended Universe,60,30,25,25,40,20,2,NaN,1
2,Aquaman,Batman,DC Extended Universe,65,50,25,30,45,80,3,...,DC Extended Universe,80,13,11,15,20,95,1,NaN,1
3,Aquaman,Black Adam,DC Extended Universe,65,50,25,30,45,80,3,...,DC Extended Universe,65,100,75,45,75,75,3,3,2
4,Aquaman,Black Canary,DC Extended Universe,65,50,25,30,45,80,3,...,DC Extended Universe,55,1,6,5,35,40,1,NaN,1

In [41]:
final_battle_df[final_battle_df['Heroe_1'] == 'The Flash']

,Heroe_1,Heroe_2,universo_1,Intelligence_1,Strength_1,Speed_1,Durability_1,Power_1,Combat_1,Tier_1,...,universo_2,Intelligence_2,Strength_2,Speed_2,Durability_2,Power_2,Combat_2,Tier_2,Tier2_2,Resultado_x
2613,The Flash,Vigilante,DC Extended Universe,80,25,100,30,85,40,5,...,DC Extended Universe,60,1,7,10,10,70,1,NaN,1
2614,The Flash,White Dragon,DC Extended Universe,80,25,100,30,85,40,5,...,DC Extended Universe,65,13,25,10,20,40,1,NaN,1
2615,The Flash,Wonder Woman,DC Extended Universe,80,25,100,30,85,40,5,...,DC Extended Universe,80,95,70,60,55,100,3,NaN,2
2616,The Flash,Wrath,DC Extended Universe,80,25,100,30,85,40,5,...,DC Extended Universe,65,65,65,40,60,65,3,NaN,0
2617,The Flash,Zeus,DC Extended Universe,80,25,100,30,85,40,5,...,DC Extended Universe,95,100,25,50,80,85,4,4,2

In [39]:
final_battle_df.iloc[150:160]

,Heroe_1,Heroe_2,universo_1,Intelligence_1,Strength_1,Speed_1,Durability_1,Power_1,Combat_1,Tier_1,...,universo_2,Intelligence_2,Strength_2,Speed_2,Durability_2,Power_2,Combat_2,Tier_2,Tier2_2,Resultado_x
150,Atom Smasher,Cassandra Cain,DC Extended Universe,60,30,25,25,40,20,2,...,DC Extended Universe,45,1,1,1,1,30,0,NaN,1
151,Atom Smasher,Cheetah,DC Extended Universe,60,30,25,25,40,20,2,...,DC Extended Universe,60,50,14,15,30,65,1,NaN,2
152,Atom Smasher,Cyborg,DC Extended Universe,60,30,25,25,40,20,2,...,DC Extended Universe,70,40,30,35,65,50,2,NaN,2
153,Atom Smasher,Cyclone,DC Extended Universe,60,30,25,25,40,20,2,...,DC Extended Universe,80,1,25,15,50,40,1,NaN,2
154,Atom Smasher,Dark Flash,DC Extended Universe,60,30,25,25,40,20,2,...,DC Extended Universe,80,25,100,35,85,50,5,NaN,2
155,Atom Smasher,Darkseid,DC Extended Universe,60,30,25,25,40,20,2,...,DC Extended Universe,95,100,30,55,90,95,4,4,2
156,Atom Smasher,Deadshot,DC Extended Universe,60,30,25,25,40,20,2,...,DC Extended Universe,60,1,6,7,17,45,1,0++,1
157,Atom Smasher,Doctor Fate,DC Extended Universe,60,30,25,25,40,20,2,...,DC Extended Universe,85,75,60,45,85,70,3,3+,2
158,Atom Smasher,Doctor Sivana,DC Extended Universe,60,30,25,25,40,20,2,...,DC Extended Universe,70,95,60,40,70,55,3,NaN,2
159,Atom Smasher,Doomsday,DC Extended Universe,60,30,25,25,40,20,2,...,DC Extended Universe,35,100,45,45,75,25,3,NaN,2

In [ ]:
# Save the final dataframe to a CSV file
final_battle_df.to_csv(',/data/merged_battles_heroes_dc.csv', index = False)