In [53]:
import pandas as pd
import itertools

DATA DC EXTENDED Y MCU

In [54]:
df_DC = pd.read_csv('./data/DC_extended_universe.csv')
df_DC.info()
df_DC.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nombre_completo  61 non-null     object
 1   nombre           73 non-null     object
 2   universo         73 non-null     object
 3   url              73 non-null     object
 4   Intelligence     73 non-null     int64
 5   Strength         73 non-null     int64
 6   Speed            73 non-null     int64
 7   Durability       73 non-null     int64
 8   Power            73 non-null     int64
 9   Combat           73 non-null     int64
 10  Tier             73 non-null     int64
 11  Tier2            9 non-null      object
 12  superpoderes     73 non-null     object
 13  heroe            73 non-null     object
dtypes: int64(7), object(7)
memory usage: 8.1+ KB

,nombre_completo,nombre,universo,url,Intelligence,Strength,Speed,Durability,Power,Combat,Tier,Tier2,superpoderes,heroe
0,Arthur Curry,Aquaman,DC Extended Universe,https://www.superherodb.com/aquaman/10-12533/,65,50,25,30,45,80,3,NaN,"['Animal Control', 'Durability', 'Stamina', 'S...",Aquaman
1,Ares,Ares,DC Extended Universe,https://www.superherodb.com/ares/10-12597/,90,100,50,50,70,100,4,4,"['Accelerated Healing', 'Chain Manipulation', ...",Ares
2,Albert Rothstein,Atom Smasher,DC Extended Universe,https://www.superherodb.com/atom-smasher/10-27...,60,30,25,25,40,20,2,NaN,"['Jaw Strength', 'Large Size', 'Size Changing'...",Atom Smasher
3,Bruce Wayne,Batman,DC Extended Universe,https://www.superherodb.com/batman/10-12530/,80,13,11,15,20,95,1,NaN,"['Bloodlust', 'Dexterity', 'Disguise Mastery',...",Batman
4,Teth-Adam,Black Adam,DC Extended Universe,https://www.superherodb.com/black-adam/10-21003/,65,100,75,45,75,75,3,3,"['Afterimage Creation', 'Agility', 'Cold Resis...",Black Adam

In [30]:
df_MCU = pd.read_csv('./data/MCU.csv')
df_MCU.info()
df_MCU.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nombre_completo  161 non-null    object
 1   nombre           176 non-null    object
 2   universo         176 non-null    object
 3   url              176 non-null    object
 4   Intelligence     176 non-null    int64
 5   Strength         176 non-null    int64
 6   Speed            176 non-null    object
 7   Durability       176 non-null    int64
 8   Power            176 non-null    int64
 9   Combat           176 non-null    int64
 10  Tier             176 non-null    int64
 11  Tier2            48 non-null     object
 12  superpoderes     176 non-null    object
 13  heroe            176 non-null    object
dtypes: int64(6), object(8)
memory usage: 19.4+ KB

,nombre_completo,nombre,universo,url,Intelligence,Strength,Speed,Durability,Power,Combat,Tier,Tier2,superpoderes,heroe
0,NaN,Agatha Harkness,Marvel Cinematic Universe,https://www.superherodb.com/agatha-harkness/10...,70,40,25,35,70,65,3,NaN,"['Durability', 'Energy Blasts', 'Energy Constr...",Agatha Harkness
1,Emil Blonsky,Abomination,Marvel Cinematic Universe,https://www.superherodb.com/abomination/10-12512/,65,100,25,50,65,70,3,3,"['Cold Resistance', 'Durability', 'Endurance',...",Abomination
2,Ajak,Ajak,Marvel Cinematic Universe,https://www.superherodb.com/ajak/10-26887/,65,25,19,25,50,70,2,NaN,"['Accelerated Healing', 'Agility', 'Durability...",Ajak
3,NaN,Ancient One (time stone),Marvel Cinematic Universe,https://www.superherodb.com/ancient-one-time-s...,85,8,25,15,100,100,6,6++,"['Anti-Gravity', 'Astral Projection', 'Concept...",Ancient One (Time Stone)
4,NaN,Ancient One,Marvel Cinematic Universe,https://www.superherodb.com/ancient-one/10-12735/,85,8,25,25,90,100,4,NaN,"['Anti-Gravity', 'Astral Projection', 'Dimensi...",Ancient One

In [31]:
df_marvel_dc = pd.concat([df_DC, df_MCU])
df_marvel_dc.to_csv('./data/Data_MCU_DC.csv')

In [32]:
df_marvel_dc.info()
df_marvel_dc.head()

<class 'pandas.core.frame.DataFrame'>
Index: 249 entries, 0 to 175
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nombre_completo  222 non-null    object
 1   nombre           249 non-null    object
 2   universo         249 non-null    object
 3   url              249 non-null    object
 4   Intelligence     249 non-null    int64
 5   Strength         249 non-null    int64
 6   Speed            249 non-null    object
 7   Durability       249 non-null    int64
 8   Power            249 non-null    int64
 9   Combat           249 non-null    int64
 10  Tier             249 non-null    int64
 11  Tier2            57 non-null     object
 12  superpoderes     249 non-null    object
 13  heroe            249 non-null    object
dtypes: int64(6), object(8)
memory usage: 29.2+ KB

,nombre_completo,nombre,universo,url,Intelligence,Strength,Speed,Durability,Power,Combat,Tier,Tier2,superpoderes,heroe
0,Arthur Curry,Aquaman,DC Extended Universe,https://www.superherodb.com/aquaman/10-12533/,65,50,25,30,45,80,3,NaN,"['Animal Control', 'Durability', 'Stamina', 'S...",Aquaman
1,Ares,Ares,DC Extended Universe,https://www.superherodb.com/ares/10-12597/,90,100,50,50,70,100,4,4,"['Accelerated Healing', 'Chain Manipulation', ...",Ares
2,Albert Rothstein,Atom Smasher,DC Extended Universe,https://www.superherodb.com/atom-smasher/10-27...,60,30,25,25,40,20,2,NaN,"['Jaw Strength', 'Large Size', 'Size Changing'...",Atom Smasher
3,Bruce Wayne,Batman,DC Extended Universe,https://www.superherodb.com/batman/10-12530/,80,13,11,15,20,95,1,NaN,"['Bloodlust', 'Dexterity', 'Disguise Mastery',...",Batman
4,Teth-Adam,Black Adam,DC Extended Universe,https://www.superherodb.com/black-adam/10-21003/,65,100,75,45,75,75,3,3,"['Afterimage Creation', 'Agility', 'Cold Resis...",Black Adam

In [33]:
df_marvel_dc[df_marvel_dc['nombre'] == 'Volstagg']

,nombre_completo,nombre,universo,url,Intelligence,Strength,Speed,Durability,Power,Combat,Tier,Tier2,superpoderes,heroe
161,Volstagg,Volstagg,Marvel Cinematic Universe,https://www.superherodb.com/volstagg/10-14376/,0,0,0,0,0,0,0,NaN,"['Marvel Comics', 'MCU - Marvel Cinematic Univ...",Volstagg

In [34]:
df_marvel_dc_names = df_marvel_dc['nombre']
df_marvel_dc_names.info()

<class 'pandas.core.series.Series'>
Index: 249 entries, 0 to 175
Series name: nombre
Non-Null Count  Dtype
--------------  -----
249 non-null    object
dtypes: object(1)
memory usage: 3.9+ KB

In [35]:
df_marvel_dc_names = df_marvel_dc['nombre']
heroes = df_marvel_dc_names.tolist()
heroes

['Aquaman',
 'Ares',
 'Atom Smasher',
 'Batman',
 'Black Adam',
 'Black Canary',
 'Black Manta',
 'Black Mask',
 'Bloodsport',
 'Captain Boomerang',
 'Cassandra Cain',
 'Cheetah',
 'Cyborg',
 'Cyclone',
 'Dark Flash',
 'Darkseid',
 'Deadshot',
 'Doctor Fate',
 'Doctor Sivana',
 'Doomsday',
 'El Diablo',
 'Enchantress',
 'Envy',
 'Faora',
 'Freddy Freeman',
 'General Zod',
 'Gluttony',
 'Green Lantern',
 'Harley Quinn',
 'Hawkman',
 'Hespera',
 'Huntress',
 'Incubus',
 'Joker',
 'Jor-El',
 'Judomaster',
 'Karathen',
 'Katana',
 'Killer Croc',
 'King Nereus',
 'King Shark',
 'Lex Luthor',
 'Lust',
 'Mera',
 'Mister Zsasz',
 'Nam-Ek',
 'Nuidis Vulko',
 'Ocean Master',
 'Parademon',
 'Peacemaker',
 'Penthesileia',
 'Philippus',
 'Polka-Dot Man',
 'Queen Atlanna',
 'Queen Hippolyta',
 'Ratcatcher',
 'Rick Flag',
 'Sabbac',
 'Savant',
 'Shazam',
 'Slipknot',
 'Sol Soria',
 'Starro',
 'Steppenwolf',
 'Supergirl',
 'Superman',
 'T.D.K.',
 'The Flash',
 'Vigilante',
 'White Dragon',
 'Wonder Woman (Armor of Asteria)',
 'Wrath',
 'Zeus',
 'Agatha Harkness',
 'Abomination',
 'Ajak',
 'Ancient One (time stone)',
 'Ancient One',
 'Ant-Man',
 'Arishem The Judge',
 'Ayo',
 'Baby Groot',
 'Baron Mordo',
 'Baron Zemo',
 'Black Bolt (Earth 838)',
 'Black Bolt',
 'Black Panther',
 'Black Panther',
 'Black Widow',
 'Black Widow',
 'Bucky Barnes',
 'Bullseye',
 'Captain America',
 'Captain America (Worthy)',
 'Captain Carter (Earth 838)',
 'Captain Marvel',
 'Chitauri Footsoldier',
 'Corvus Glaive',
 'Crossbones',
 'Cull Obsidian',
 'Dar-Benn',
 'Daredevil',
 'Deathlok',
 'Destroyer',
 'Doctor Strange',
 'Dormammu',
 'Drax The Destroyer',
 'Ebony Maw',
 'Echo',
 'Ego',
 'Elektra',
 'Eternity',
 'Falcon',
 'Fandral',
 'Fat Thor',
 'Fenris',
 'Frigga',
 "G'iah",
 'Gamora',
 'Gargantos',
 'Ghost',
 'Ghost Rider',
 'Giant-Man',
 'Gilgamesh',
 'Gorr The God Butcher',
 'Gravik',
 'Groot',
 'Hawkeye',
 'Hawkeye',
 'Heimdall',
 'Hela',
 'High Evolutionary',
 'Hulk (Stark Gauntlet)',
 'Hulk',
 'Ikaris',
 'Iron Fist',
 'Iron Man',
 'Iron Man (Mk 1)',
 'Iron Man (Stark Gauntlet)',
 'Iron Man (Hulkbuster)',
 'Iron Monger',
 'Iron Spider',
 'Ironheart',
 'Jemiah The Analyzer',
 'Jessica Jones',
 'Kaecilius',
 'Kang the Conqueror',
 'Killian',
 'Killmonger',
 'Kingo',
 'Kingpin',
 'Korath The Pursuer',
 'Korg',
 'Kro',
 'Kurse',
 'Kid Loki',
 'Lady Loki',
 'Leo Fitz',
 'Leviathan',
 'Loki',
 'Loki (Mind Stone)',
 'Loki (Keeper Of The Multiverse)',
 'Loki (Variant L1130)',
 'Loki (King of Asgard)',
 'Luke Cage',
 "M'baku",
 'Makkari',
 'Malekith (Reality Stone)',
 'Malekith',
 'Mandarin',
 'Mantis',
 'Mighty Thor',
 'MODOK',
 'Moon Knight',
 'Mr. Fantastic (Earth 838)',
 'Mr. Knight',
 'Ms. America',
 'Ms. Marvel',
 'Mysterio',
 'Namor',
 'Nebula',
 'Nick Fury',
 'Nomad',
 'Odin',
 'Okoye',
 'Outrider',
 'Pepper Potts (Extremis)',
 'Phastos',
 'Photon',
 'Proxima Midnight',
 'Quake',
 'Quicksilver',
 'Red Guardian',
 'Red Skull (Stonekeeper)',
 'Red Skull',
 'Rescue',
 'Rocket Raccoon',
 'Ronan The Accuser (Power Stone)',
 'Ronan The Accuser',
 'Ronin',
 'Scarlet Witch',
 'Sersi (uni-mind)',
 'Sersi',
 'Shang-Chi',
 'She-Hulk',
 'Shuri',
 'Sif',
 'Sinister Strange',
 'Smart Hulk',
 'Spectral Vision',
 'Spider-Man',
 'Star-Lord (Celestial Power)',
 'Star-Lord',
 'Stature',
 'Surtur',
 'Swole Groot',
 'Talos The Untamed',
 'Taskmaster',
 'Teenage Groot',
 'Thanos',
 'Thanos (Infinity Gauntlet)',
 'The Collector',
 'The Executioner',
 'The Grandmaster',
 'The Great Protector',
 'The Punisher',
 'Thena',
 'Thor (Pre-Ragnarok)',
 'Thor (Awakened)',
 'Thor',
 'Ultron',
 'Unworthy Thor',
 'Valkyrie',
 'Vision',
 'Volstagg',
 'Vulture',
 'Wanda Maximoff (Pre-WandaVision)',
 'War Machine',
 'Warlock',
 'Wasp',
 'Whiplash',
 'Whiplash (Mark II)',
 'White Wolf',
 'Winter Soldier',
 'Wolverine',
 'Wong',
 'YellowJacket',
 'Yondu',
 'Zeus']

In [36]:
battle = list(itertools.combinations(heroes, 2))
battle

[('Aquaman', 'Ares'),
 ('Aquaman', 'Atom Smasher'),
 ('Aquaman', 'Batman'),
 ('Aquaman', 'Black Adam'),
 ('Aquaman', 'Black Canary'),
 ('Aquaman', 'Black Manta'),
 ('Aquaman', 'Black Mask'),
 ('Aquaman', 'Bloodsport'),
 ('Aquaman', 'Captain Boomerang'),
 ('Aquaman', 'Cassandra Cain'),
 ('Aquaman', 'Cheetah'),
 ('Aquaman', 'Cyborg'),
 ('Aquaman', 'Cyclone'),
 ('Aquaman', 'Dark Flash'),
 ('Aquaman', 'Darkseid'),
 ('Aquaman', 'Deadshot'),
 ('Aquaman', 'Doctor Fate'),
 ('Aquaman', 'Doctor Sivana'),
 ('Aquaman', 'Doomsday'),
 ('Aquaman', 'El Diablo'),
 ('Aquaman', 'Enchantress'),
 ('Aquaman', 'Envy'),
 ('Aquaman', 'Faora'),
 ('Aquaman', 'Freddy Freeman'),
 ('Aquaman', 'General Zod'),
 ('Aquaman', 'Gluttony'),
 ('Aquaman', 'Green Lantern'),
 ('Aquaman', 'Harley Quinn'),
 ('Aquaman', 'Hawkman'),
 ('Aquaman', 'Hespera'),
 ('Aquaman', 'Huntress'),
 ('Aquaman', 'Incubus'),
 ('Aquaman', 'Joker'),
 ('Aquaman', 'Jor-El'),
 ('Aquaman', 'Judomaster'),
 ('Aquaman', 'Karathen'),
 ('Aquaman', 'Katana'),
 ('Aquaman', 'Killer Croc'),
 ('Aquaman', 'King Nereus'),
 ('Aquaman', 'King Shark'),
 ('Aquaman', 'Lex Luthor'),
 ('Aquaman', 'Lust'),
 ('Aquaman', 'Mera'),
 ('Aquaman', 'Mister Zsasz'),
 ('Aquaman', 'Nam-Ek'),
 ('Aquaman', 'Nuidis Vulko'),
 ('Aquaman', 'Ocean Master'),
 ('Aquaman', 'Parademon'),
 ('Aquaman', 'Peacemaker'),
 ('Aquaman', 'Penthesileia'),
 ('Aquaman', 'Philippus'),
 ('Aquaman', 'Polka-Dot Man'),
 ('Aquaman', 'Queen Atlanna'),
 ('Aquaman', 'Queen Hippolyta'),
 ('Aquaman', 'Ratcatcher'),
 ('Aquaman', 'Rick Flag'),
 ('Aquaman', 'Sabbac'),
 ('Aquaman', 'Savant'),
 ('Aquaman', 'Shazam'),
 ('Aquaman', 'Slipknot'),
 ('Aquaman', 'Sol Soria'),
 ('Aquaman', 'Starro'),
 ('Aquaman', 'Steppenwolf'),
 ('Aquaman', 'Supergirl'),
 ('Aquaman', 'Superman'),
 ('Aquaman', 'T.D.K.'),
 ('Aquaman', 'The Flash'),
 ('Aquaman', 'Vigilante'),
 ('Aquaman', 'White Dragon'),
 ('Aquaman', 'Wonder Woman (Armor of Asteria)'),
 ('Aquaman', 'Wrath'),
 ('Aquaman', 'Zeus'),
 ('Aquaman', 'Agatha Harkness'),
 ('Aquaman', 'Abomination'),
 ('Aquaman', 'Ajak'),
 ('Aquaman', 'Ancient One (time stone)'),
 ('Aquaman', 'Ancient One'),
 ('Aquaman', 'Ant-Man'),
 ('Aquaman', 'Arishem The Judge'),
 ('Aquaman', 'Ayo'),
 ('Aquaman', 'Baby Groot'),
 ('Aquaman', 'Baron Mordo'),
 ('Aquaman', 'Baron Zemo'),
 ('Aquaman', 'Black Bolt (Earth 838)'),
 ('Aquaman', 'Black Bolt'),
 ('Aquaman', 'Black Panther'),
 ('Aquaman', 'Black Panther'),
 ('Aquaman', 'Black Widow'),
 ('Aquaman', 'Black Widow'),
 ('Aquaman', 'Bucky Barnes'),
 ('Aquaman', 'Bullseye'),
 ('Aquaman', 'Captain America'),
 ('Aquaman', 'Captain America (Worthy)'),
 ('Aquaman', 'Captain Carter (Earth 838)'),
 ('Aquaman', 'Captain Marvel'),
 ('Aquaman', 'Chitauri Footsoldier'),
 ('Aquaman', 'Corvus Glaive'),
 ('Aquaman', 'Crossbones'),
 ('Aquaman', 'Cull Obsidian'),
 ('Aquaman', 'Dar-Benn'),
 ('Aquaman', 'Daredevil'),
 ('Aquaman', 'Deathlok'),
 ('Aquaman', 'Destroyer'),
 ('Aquaman', 'Doctor Strange'),
 ('Aquaman', 'Dormammu'),
 ('Aquaman', 'Drax The Destroyer'),
 ('Aquaman', 'Ebony Maw'),
 ('Aquaman', 'Echo'),
 ('Aquaman', 'Ego'),
 ('Aquaman', 'Elektra'),
 ('Aquaman', 'Eternity'),
 ('Aquaman', 'Falcon'),
 ('Aquaman', 'Fandral'),
 ('Aquaman', 'Fat Thor'),
 ('Aquaman', 'Fenris'),
 ('Aquaman', 'Frigga'),
 ('Aquaman', "G'iah"),
 ('Aquaman', 'Gamora'),
 ('Aquaman', 'Gargantos'),
 ('Aquaman', 'Ghost'),
 ('Aquaman', 'Ghost Rider'),
 ('Aquaman', 'Giant-Man'),
 ('Aquaman', 'Gilgamesh'),
 ('Aquaman', 'Gorr The God Butcher'),
 ('Aquaman', 'Gravik'),
 ('Aquaman', 'Groot'),
 ('Aquaman', 'Hawkeye'),
 ('Aquaman', 'Hawkeye'),
 ('Aquaman', 'Heimdall'),
 ('Aquaman', 'Hela'),
 ('Aquaman', 'High Evolutionary'),
 ('Aquaman', 'Hulk (Stark Gauntlet)'),
 ('Aquaman', 'Hulk'),
 ('Aquaman', 'Ikaris'),
 ('Aquaman', 'Iron Fist'),
 ('Aquaman', 'Iron Man'),
 ('Aquaman', 'Iron Man (Mk 1)'),
 ('Aquaman', 'Iron Man (Stark Gauntlet)'),
 ('Aquaman', 'Iron Man (Hulkbuster)'),
 ('Aquaman', 'Iron Monger'),
 ('Aquaman', 'Iron Spider'),
 ('Aquaman', 'Ironheart'),
 ('Aquaman', 'Jemiah The Analyzer'),
 ('Aquaman', 'Jessica Jones'),
 ('Aquaman', 'Kaecilius'),
 ('Aquaman', 'Kang the Conqueror'),
 ('Aquaman', 'Killian'),
 ('Aquaman', 'Killmonger'),
 ('Aquaman', 'Kingo'),
 ('Aquaman', 'Kingpin'),
 ('Aquaman', 'Korath The Pursuer'),
 ('Aquaman', 'Korg'),
 ('Aquaman', 'Kro'),
 ('Aquaman', 'Kurse'),
 ('Aquaman', 'Kid Loki'),
 ('Aquaman', 'Lady Loki'),
 ('Aquaman', 'Leo Fitz'),
 ('Aquaman', 'Leviathan'),
 ('Aquaman', 'Loki'),
 ('Aquaman', 'Loki (Mind Stone)'),
 ('Aquaman', 'Loki (Keeper Of The Multiverse)'),
 ('Aquaman', 'Loki (Variant L1130)'),
 ('Aquaman', 'Loki (King of Asgard)'),
 ('Aquaman', 'Luke Cage'),
 ('Aquaman', "M'baku"),
 ('Aquaman', 'Makkari'),
 ('Aquaman', 'Malekith (Reality Stone)'),
 ('Aquaman', 'Malekith'),
 ('Aquaman', 'Mandarin'),
 ('Aquaman', 'Mantis'),
 ('Aquaman', 'Mighty Thor'),
 ('Aquaman', 'MODOK'),
 ('Aquaman', 'Moon Knight'),
 ('Aquaman', 'Mr. Fantastic (Earth 838)'),
 ('Aquaman', 'Mr. Knight'),
 ('Aquaman', 'Ms. America'),
 ('Aquaman', 'Ms. Marvel'),
 ('Aquaman', 'Mysterio'),
 ('Aquaman', 'Namor'),
 ('Aquaman', 'Nebula'),
 ('Aquaman', 'Nick Fury'),
 ('Aquaman', 'Nomad'),
 ('Aquaman', 'Odin'),
 ('Aquaman', 'Okoye'),
 ('Aquaman', 'Outrider'),
 ('Aquaman', 'Pepper Potts (Extremis)'),
 ('Aquaman', 'Phastos'),
 ('Aquaman', 'Photon'),
 ('Aquaman', 'Proxima Midnight'),
 ('Aquaman', 'Quake'),
 ('Aquaman', 'Quicksilver'),
 ('Aquaman', 'Red Guardian'),
 ('Aquaman', 'Red Skull (Stonekeeper)'),
 ('Aquaman', 'Red Skull'),
 ('Aquaman', 'Rescue'),
 ('Aquaman', 'Rocket Raccoon'),
 ('Aquaman', 'Ronan The Accuser (Power Stone)'),
 ('Aquaman', 'Ronan The Accuser'),
 ('Aquaman', 'Ronin'),
 ('Aquaman', 'Scarlet Witch'),
 ('Aquaman', 'Sersi (uni-mind)'),
 ('Aquaman', 'Sersi'),
 ('Aquaman', 'Shang-Chi'),
 ('Aquaman', 'She-Hulk'),
 ('Aquaman', 'Shuri'),
 ('Aquaman', 'Sif'),
 ('Aquaman', 'Sinister Strange'),
 ('Aquaman', 'Smart Hulk'),
 ('Aquaman', 'Spectral Vision'),
 ('Aquaman', 'Spider-Man'),
 ('Aquaman', 'Star-Lord (Celestial Power)'),
 ('Aquaman', 'Star-Lord'),
 ('Aquaman', 'Stature'),
 ('Aquaman', 'Surtur'),
 ('Aquaman', 'Swole Groot'),
 ('Aquaman', 'Talos The Untamed'),
 ('Aquaman', 'Taskmaster'),
 ('Aquaman', 'Teenage Groot'),
 ('Aquaman', 'Thanos'),
 ('Aquaman', 'Thanos (Infinity Gauntlet)'),
 ('Aquaman', 'The Collector'),
 ('Aquaman', 'The Executioner'),
 ('Aquaman', 'The Grandmaster'),
 ('Aquaman', 'The Great Protector'),
 ('Aquaman', 'The Punisher'),
 ('Aquaman', 'Thena'),
 ('Aquaman', 'Thor (Pre-Ragnarok)'),
 ('Aquaman', 'Thor (Awakened)'),
 ('Aquaman', 'Thor'),
 ('Aquaman', 'Ultron'),
 ('Aquaman', 'Unworthy Thor'),
 ('Aquaman', 'Valkyrie'),
 ('Aquaman', 'Vision'),
 ('Aquaman', 'Volstagg'),
 ('Aquaman', 'Vulture'),
 ('Aquaman', 'Wanda Maximoff (Pre-WandaVision)'),
 ('Aquaman', 'War Machine'),
 ('Aquaman', 'Warlock'),
 ('Aquaman', 'Wasp'),
 ('Aquaman', 'Whiplash'),
 ('Aquaman', 'Whiplash (Mark II)'),
 ('Aquaman', 'White Wolf'),
 ('Aquaman', 'Winter Soldier'),
 ('Aquaman', 'Wolverine'),
 ('Aquaman', 'Wong'),
 ('Aquaman', 'YellowJacket'),
 ('Aquaman', 'Yondu'),
 ('Aquaman', 'Zeus'),
 ('Ares', 'Atom Smasher'),
 ('Ares', 'Batman'),
 ('Ares', 'Black Adam'),
 ('Ares', 'Black Canary'),
 ('Ares', 'Black Manta'),
 ('Ares', 'Black Mask'),
 ('Ares', 'Bloodsport'),
 ('Ares', 'Captain Boomerang'),
 ('Ares', 'Cassandra Cain'),
 ('Ares', 'Cheetah'),
 ('Ares', 'Cyborg'),
 ('Ares', 'Cyclone'),
 ('Ares', 'Dark Flash'),
 ('Ares', 'Darkseid'),
 ('Ares', 'Deadshot'),
 ('Ares', 'Doctor Fate'),
 ('Ares', 'Doctor Sivana'),
 ('Ares', 'Doomsday'),
 ('Ares', 'El Diablo'),
 ('Ares', 'Enchantress'),
 ('Ares', 'Envy'),
 ('Ares', 'Faora'),
 ('Ares', 'Freddy Freeman'),
 ('Ares', 'General Zod'),
 ('Ares', 'Gluttony'),
 ('Ares', 'Green Lantern'),
 ('Ares', 'Harley Quinn'),
 ('Ares', 'Hawkman'),
 ('Ares', 'Hespera'),
 ('Ares', 'Huntress'),
 ('Ares', 'Incubus'),
 ('Ares', 'Joker'),
 ('Ares', 'Jor-El'),
 ('Ares', 'Judomaster'),
 ('Ares', 'Karathen'),
 ('Ares', 'Katana'),
 ('Ares', 'Killer Croc'),
 ('Ares', 'King Nereus'),
 ('Ares', 'King Shark'),
 ('Ares', 'Lex Luthor'),
 ('Ares', 'Lust'),
 ('Ares', 'Mera'),
 ('Ares', 'Mister Zsasz'),
 ('Ares', 'Nam-Ek'),
 ('Ares', 'Nuidis Vulko'),
 ('Ares', 'Ocean Master'),
 ('Ares', 'Parademon'),
 ('Ares', 'Peacemaker'),
 ('Ares', 'Penthesileia'),
 ('Ares', 'Philippus'),
 ('Ares', 'Polka-Dot Man'),
 ('Ares', 'Queen Atlanna'),
 ('Ares', 'Queen Hippolyta'),
 ('Ares', 'Ratcatcher'),
 ('Ares', 'Rick Flag'),
 ('Ares', 'Sabbac'),
 ('Ares', 'Savant'),
 ('Ares', 'Shazam'),
 ('Ares', 'Slipknot'),
 ('Ares', 'Sol Soria'),
 ('Ares', 'Starro'),
 ('Ares', 'Steppenwolf'),
 ('Ares', 'Supergirl'),
 ('Ares', 'Superman'),
 ('Ares', 'T.D.K.'),
 ('Ares', 'The Flash'),
 ('Ares', 'Vigilante'),
 ('Ares', 'White Dragon'),
 ('Ares', 'Wonder Woman (Armor of Asteria)'),
 ('Ares', 'Wrath'),
 ('Ares', 'Zeus'),
 ('Ares', 'Agatha Harkness'),
 ('Ares', 'Abomination'),
 ('Ares', 'Ajak'),
 ('Ares', 'Ancient One (time stone)'),
 ('Ares', 'Ancient One'),
 ('Ares', 'Ant-Man'),
 ('Ares', 'Arishem The Judge'),
 ('Ares', 'Ayo'),
 ('Ares', 'Baby Groot'),
 ('Ares', 'Baron Mordo'),
 ('Ares', 'Baron Zemo'),
 ('Ares', 'Black Bolt (Earth 838)'),
 ('Ares', 'Black Bolt'),
 ('Ares', 'Black Panther'),
 ('Ares', 'Black Panther'),
 ('Ares', 'Black Widow'),
 ('Ares', 'Black Widow'),
 ('Ares', 'Bucky Barnes'),
 ('Ares', 'Bullseye'),
 ('Ares', 'Captain America'),
 ('Ares', 'Captain America (Worthy)'),
 ('Ares', 'Captain Carter (Earth 838)'),
 ('Ares', 'Captain Marvel'),
 ('Ares', 'Chitauri Footsoldier'),
 ('Ares', 'Corvus Glaive'),
 ('Ares', 'Crossbones'),
 ('Ares', 'Cull Obsidian'),
 ('Ares', 'Dar-Benn'),
 ('Ares', 'Daredevil'),
 ('Ares', 'Deathlok'),
 ('Ares', 'Destroyer'),
 ('Ares', 'Doctor Strange'),
 ('Ares', 'Dormammu'),
 ('Ares', 'Drax The Destroyer'),
 ('Ares', 'Ebony Maw'),
 ('Ares', 'Echo'),
 ('Ares', 'Ego'),
 ('Ares', 'Elektra'),
 ('Ares', 'Eternity'),
 ('Ares', 'Falcon'),
 ('Ares', 'Fandral'),
 ('Ares', 'Fat Thor'),
 ('Ares', 'Fenris'),
 ('Ares', 'Frigga'),
 ('Ares', "G'iah"),
 ('Ares', 'Gamora'),
 ('Ares', 'Gargantos'),
 ('Ares', 'Ghost'),
 ('Ares', 'Ghost Rider'),
 ('Ares', 'Giant-Man'),
 ('Ares', 'Gilgamesh'),
 ('Ares', 'Gorr The God Butcher'),
 ('Ares', 'Gravik'),
 ('Ares', 'Groot'),
 ('Ares', 'Hawkeye'),
 ('Ares', 'Hawkeye'),
 ('Ares', 'Heimdall'),
 ('Ares', 'Hela'),
 ('Ares', 'High Evolutionary'),
 ('Ares', 'Hulk (Stark Gauntlet)'),
 ('Ares', 'Hulk'),
 ('Ares', 'Ikaris'),
 ('Ares', 'Iron Fist'),
 ('Ares', 'Iron Man'),
 ('Ares', 'Iron Man (Mk 1)'),
 ('Ares', 'Iron Man (Stark Gauntlet)'),
 ('Ares', 'Iron Man (Hulkbuster)'),
 ('Ares', 'Iron Monger'),
 ('Ares', 'Iron Spider'),
 ('Ares', 'Ironheart'),
 ('Ares', 'Jemiah The Analyzer'),
 ('Ares', 'Jessica Jones'),
 ('Ares', 'Kaecilius'),
 ('Ares', 'Kang the Conqueror'),
 ('Ares', 'Killian'),
 ('Ares', 'Killmonger'),
 ('Ares', 'Kingo'),
 ('Ares', 'Kingpin'),
 ('Ares', 'Korath The Pursuer'),
 ('Ares', 'Korg'),
 ('Ares', 'Kro'),
 ('Ares', 'Kurse'),
 ('Ares', 'Kid Loki'),
 ('Ares', 'Lady Loki'),
 ('Ares', 'Leo Fitz'),
 ('Ares', 'Leviathan'),
 ('Ares', 'Loki'),
 ('Ares', 'Loki (Mind Stone)'),
 ('Ares', 'Loki (Keeper Of The Multiverse)'),
 ('Ares', 'Loki (Variant L1130)'),
 ('Ares', 'Loki (King of Asgard)'),
 ('Ares', 'Luke Cage'),
 ('Ares', "M'baku"),
 ('Ares', 'Makkari'),
 ('Ares', 'Malekith (Reality Stone)'),
 ('Ares', 'Malekith'),
 ('Ares', 'Mandarin'),
 ('Ares', 'Mantis'),
 ('Ares', 'Mighty Thor'),
 ('Ares', 'MODOK'),
 ('Ares', 'Moon Knight'),
 ('Ares', 'Mr. Fantastic (Earth 838)'),
 ('Ares', 'Mr. Knight'),
 ('Ares', 'Ms. America'),
 ('Ares', 'Ms. Marvel'),
 ('Ares', 'Mysterio'),
 ('Ares', 'Namor'),
 ('Ares', 'Nebula'),
 ('Ares', 'Nick Fury'),
 ('Ares', 'Nomad'),
 ('Ares', 'Odin'),
 ('Ares', 'Okoye'),
 ('Ares', 'Outrider'),
 ('Ares', 'Pepper Potts (Extremis)'),
 ('Ares', 'Phastos'),
 ('Ares', 'Photon'),
 ('Ares', 'Proxima Midnight'),
 ('Ares', 'Quake'),
 ('Ares', 'Quicksilver'),
 ('Ares', 'Red Guardian'),
 ('Ares', 'Red Skull (Stonekeeper)'),
 ('Ares', 'Red Skull'),
 ('Ares', 'Rescue'),
 ('Ares', 'Rocket Raccoon'),
 ('Ares', 'Ronan The Accuser (Power Stone)'),
 ('Ares', 'Ronan The Accuser'),
 ('Ares', 'Ronin'),
 ('Ares', 'Scarlet Witch'),
 ('Ares', 'Sersi (uni-mind)'),
 ('Ares', 'Sersi'),
 ('Ares', 'Shang-Chi'),
 ('Ares', 'She-Hulk'),
 ('Ares', 'Shuri'),
 ('Ares', 'Sif'),
 ('Ares', 'Sinister Strange'),
 ('Ares', 'Smart Hulk'),
 ('Ares', 'Spectral Vision'),
 ('Ares', 'Spider-Man'),
 ('Ares', 'Star-Lord (Celestial Power)'),
 ('Ares', 'Star-Lord'),
 ('Ares', 'Stature'),
 ('Ares', 'Surtur'),
 ('Ares', 'Swole Groot'),
 ('Ares', 'Talos The Untamed'),
 ('Ares', 'Taskmaster'),
 ('Ares', 'Teenage Groot'),
 ('Ares', 'Thanos'),
 ('Ares', 'Thanos (Infinity Gauntlet)'),
 ('Ares', 'The Collector'),
 ('Ares', 'The Executioner'),
 ('Ares', 'The Grandmaster'),
 ('Ares', 'The Great Protector'),
 ('Ares', 'The Punisher'),
 ('Ares', 'Thena'),
 ('Ares', 'Thor (Pre-Ragnarok)'),
 ('Ares', 'Thor (Awakened)'),
 ('Ares', 'Thor'),
 ('Ares', 'Ultron'),
 ('Ares', 'Unworthy Thor'),
 ('Ares', 'Valkyrie'),
 ('Ares', 'Vision'),
 ('Ares', 'Volstagg'),
 ('Ares', 'Vulture'),
 ('Ares', 'Wanda Maximoff (Pre-WandaVision)'),
 ('Ares', 'War Machine'),
 ('Ares', 'Warlock'),
 ('Ares', 'Wasp'),
 ('Ares', 'Whiplash'),
 ('Ares', 'Whiplash (Mark II)'),
 ('Ares', 'White Wolf'),
 ('Ares', 'Winter Soldier'),
 ('Ares', 'Wolverine'),
 ('Ares', 'Wong'),
 ('Ares', 'YellowJacket'),
 ('Ares', 'Yondu'),
 ('Ares', 'Zeus'),
 ('Atom Smasher', 'Batman'),
 ('Atom Smasher', 'Black Adam'),
 ('Atom Smasher', 'Black Canary'),
 ('Atom Smasher', 'Black Manta'),
 ('Atom Smasher', 'Black Mask'),
 ('Atom Smasher', 'Bloodsport'),
 ('Atom Smasher', 'Captain Boomerang'),
 ('Atom Smasher', 'Cassandra Cain'),
 ('Atom Smasher', 'Cheetah'),
 ('Atom Smasher', 'Cyborg'),
 ('Atom Smasher', 'Cyclone'),
 ('Atom Smasher', 'Dark Flash'),
 ('Atom Smasher', 'Darkseid'),
 ('Atom Smasher', 'Deadshot'),
 ('Atom Smasher', 'Doctor Fate'),
 ('Atom Smasher', 'Doctor Sivana'),
 ('Atom Smasher', 'Doomsday'),
 ('Atom Smasher', 'El Diablo'),
 ('Atom Smasher', 'Enchantress'),
 ('Atom Smasher', 'Envy'),
 ('Atom Smasher', 'Faora'),
 ('Atom Smasher', 'Freddy Freeman'),
 ('Atom Smasher', 'General Zod'),
 ('Atom Smasher', 'Gluttony'),
 ('Atom Smasher', 'Green Lantern'),
 ('Atom Smasher', 'Harley Quinn'),
 ('Atom Smasher', 'Hawkman'),
 ('Atom Smasher', 'Hespera'),
 ('Atom Smasher', 'Huntress'),
 ('Atom Smasher', 'Incubus'),
 ('Atom Smasher', 'Joker'),
 ('Atom Smasher', 'Jor-El'),
 ('Atom Smasher', 'Judomaster'),
 ('Atom Smasher', 'Karathen'),
 ('Atom Smasher', 'Katana'),
 ('Atom Smasher', 'Killer Croc'),
 ('Atom Smasher', 'King Nereus'),
 ('Atom Smasher', 'King Shark'),
 ('Atom Smasher', 'Lex Luthor'),
 ('Atom Smasher', 'Lust'),
 ('Atom Smasher', 'Mera'),
 ('Atom Smasher', 'Mister Zsasz'),
 ('Atom Smasher', 'Nam-Ek'),
 ('Atom Smasher', 'Nuidis Vulko'),
 ('Atom Smasher', 'Ocean Master'),
 ('Atom Smasher', 'Parademon'),
 ('Atom Smasher', 'Peacemaker'),
 ('Atom Smasher', 'Penthesileia'),
 ('Atom Smasher', 'Philippus'),
 ('Atom Smasher', 'Polka-Dot Man'),
 ('Atom Smasher', 'Queen Atlanna'),
 ('Atom Smasher', 'Queen Hippolyta'),
 ('Atom Smasher', 'Ratcatcher'),
 ('Atom Smasher', 'Rick Flag'),
 ('Atom Smasher', 'Sabbac'),
 ('Atom Smasher', 'Savant'),
 ('Atom Smasher', 'Shazam'),
 ('Atom Smasher', 'Slipknot'),
 ('Atom Smasher', 'Sol Soria'),
 ('Atom Smasher', 'Starro'),
 ('Atom Smasher', 'Steppenwolf'),
 ('Atom Smasher', 'Supergirl'),
 ('Atom Smasher', 'Superman'),
 ('Atom Smasher', 'T.D.K.'),
 ('Atom Smasher', 'The Flash'),
 ('Atom Smasher', 'Vigilante'),
 ('Atom Smasher', 'White Dragon'),
 ('Atom Smasher', 'Wonder Woman (Armor of Asteria)'),
 ('Atom Smasher', 'Wrath'),
 ('Atom Smasher', 'Zeus'),
 ('Atom Smasher', 'Agatha Harkness'),
 ('Atom Smasher', 'Abomination'),
 ('Atom Smasher', 'Ajak'),
 ('Atom Smasher', 'Ancient One (time stone)'),
 ('Atom Smasher', 'Ancient One'),
 ('Atom Smasher', 'Ant-Man'),
 ('Atom Smasher', 'Arishem The Judge'),
 ('Atom Smasher', 'Ayo'),
 ('Atom Smasher', 'Baby Groot'),
 ('Atom Smasher', 'Baron Mordo'),
 ('Atom Smasher', 'Baron Zemo'),
 ('Atom Smasher', 'Black Bolt (Earth 838)'),
 ('Atom Smasher', 'Black Bolt'),
 ('Atom Smasher', 'Black Panther'),
 ('Atom Smasher', 'Black Panther'),
 ('Atom Smasher', 'Black Widow'),
 ('Atom Smasher', 'Black Widow'),
 ('Atom Smasher', 'Bucky Barnes'),
 ('Atom Smasher', 'Bullseye'),
 ('Atom Smasher', 'Captain America'),
 ('Atom Smasher', 'Captain America (Worthy)'),
 ('Atom Smasher', 'Captain Carter (Earth 838)'),
 ('Atom Smasher', 'Captain Marvel'),
 ('Atom Smasher', 'Chitauri Footsoldier'),
 ('Atom Smasher', 'Corvus Glaive'),
 ('Atom Smasher', 'Crossbones'),
 ('Atom Smasher', 'Cull Obsidian'),
 ('Atom Smasher', 'Dar-Benn'),
 ('Atom Smasher', 'Daredevil'),
 ('Atom Smasher', 'Deathlok'),
 ('Atom Smasher', 'Destroyer'),
 ('Atom Smasher', 'Doctor Strange'),
 ('Atom Smasher', 'Dormammu'),
 ('Atom Smasher', 'Drax The Destroyer'),
 ('Atom Smasher', 'Ebony Maw'),
 ('Atom Smasher', 'Echo'),
 ('Atom Smasher', 'Ego'),
 ('Atom Smasher', 'Elektra'),
 ('Atom Smasher', 'Eternity'),
 ('Atom Smasher', 'Falcon'),
 ('Atom Smasher', 'Fandral'),
 ('Atom Smasher', 'Fat Thor'),
 ('Atom Smasher', 'Fenris'),
 ('Atom Smasher', 'Frigga'),
 ('Atom Smasher', "G'iah"),
 ('Atom Smasher', 'Gamora'),
 ('Atom Smasher', 'Gargantos'),
 ('Atom Smasher', 'Ghost'),
 ('Atom Smasher', 'Ghost Rider'),
 ('Atom Smasher', 'Giant-Man'),
 ('Atom Smasher', 'Gilgamesh'),
 ('Atom Smasher', 'Gorr The God Butcher'),
 ('Atom Smasher', 'Gravik'),
 ('Atom Smasher', 'Groot'),
 ('Atom Smasher', 'Hawkeye'),
 ('Atom Smasher', 'Hawkeye'),
 ('Atom Smasher', 'Heimdall'),
 ('Atom Smasher', 'Hela'),
 ('Atom Smasher', 'High Evolutionary'),
 ('Atom Smasher', 'Hulk (Stark Gauntlet)'),
 ('Atom Smasher', 'Hulk'),
 ('Atom Smasher', 'Ikaris'),
 ('Atom Smasher', 'Iron Fist'),
 ('Atom Smasher', 'Iron Man'),
 ('Atom Smasher', 'Iron Man (Mk 1)'),
 ('Atom Smasher', 'Iron Man (Stark Gauntlet)'),
 ('Atom Smasher', 'Iron Man (Hulkbuster)'),
 ('Atom Smasher', 'Iron Monger'),
 ('Atom Smasher', 'Iron Spider'),
 ('Atom Smasher', 'Ironheart'),
 ('Atom Smasher', 'Jemiah The Analyzer'),
 ('Atom Smasher', 'Jessica Jones'),
 ('Atom Smasher', 'Kaecilius'),
 ('Atom Smasher', 'Kang the Conqueror'),
 ('Atom Smasher', 'Killian'),
 ('Atom Smasher', 'Killmonger'),
 ('Atom Smasher', 'Kingo'),
 ('Atom Smasher', 'Kingpin'),
 ('Atom Smasher', 'Korath The Pursuer'),
 ('Atom Smasher', 'Korg'),
 ('Atom Smasher', 'Kro'),
 ('Atom Smasher', 'Kurse'),
 ('Atom Smasher', 'Kid Loki'),
 ('Atom Smasher', 'Lady Loki'),
 ('Atom Smasher', 'Leo Fitz'),
 ('Atom Smasher', 'Leviathan'),
 ('Atom Smasher', 'Loki'),
 ('Atom Smasher', 'Loki (Mind Stone)'),
 ('Atom Smasher', 'Loki (Keeper Of The Multiverse)'),
 ('Atom Smasher', 'Loki (Variant L1130)'),
 ('Atom Smasher', 'Loki (King of Asgard)'),
 ('Atom Smasher', 'Luke Cage'),
 ('Atom Smasher', "M'baku"),
 ('Atom Smasher', 'Makkari'),
 ('Atom Smasher', 'Malekith (Reality Stone)'),
 ('Atom Smasher', 'Malekith'),
 ('Atom Smasher', 'Mandarin'),
 ('Atom Smasher', 'Mantis'),
 ('Atom Smasher', 'Mighty Thor'),
 ('Atom Smasher', 'MODOK'),
 ('Atom Smasher', 'Moon Knight'),
 ('Atom Smasher', 'Mr. Fantastic (Earth 838)'),
 ('Atom Smasher', 'Mr. Knight'),
 ('Atom Smasher', 'Ms. America'),
 ('Atom Smasher', 'Ms. Marvel'),
 ('Atom Smasher', 'Mysterio'),
 ('Atom Smasher', 'Namor'),
 ('Atom Smasher', 'Nebula'),
 ('Atom Smasher', 'Nick Fury'),
 ('Atom Smasher', 'Nomad'),
 ('Atom Smasher', 'Odin'),
 ('Atom Smasher', 'Okoye'),
 ('Atom Smasher', 'Outrider'),
 ('Atom Smasher', 'Pepper Potts (Extremis)'),
 ('Atom Smasher', 'Phastos'),
 ('Atom Smasher', 'Photon'),
 ('Atom Smasher', 'Proxima Midnight'),
 ('Atom Smasher', 'Quake'),
 ('Atom Smasher', 'Quicksilver'),
 ('Atom Smasher', 'Red Guardian'),
 ('Atom Smasher', 'Red Skull (Stonekeeper)'),
 ('Atom Smasher', 'Red Skull'),
 ('Atom Smasher', 'Rescue'),
 ('Atom Smasher', 'Rocket Raccoon'),
 ('Atom Smasher', 'Ronan The Accuser (Power Stone)'),
 ('Atom Smasher', 'Ronan The Accuser'),
 ('Atom Smasher', 'Ronin'),

In [37]:
battle_MCU_DC_df = pd.DataFrame(battle, columns = ['Heroe 1', 'Heroe 2'])
battle_MCU_DC_df.to_csv('./data/Battle_MCU_DC.csv', index = False)

In [38]:
battle_MCU_DC_df.info()
battle_MCU_DC_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30876 entries, 0 to 30875
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Heroe 1  30876 non-null  object
 1   Heroe 2  30876 non-null  object
dtypes: object(2)
memory usage: 482.6+ KB

   Heroe 1       Heroe 2
0  Aquaman          Ares
1  Aquaman  Atom Smasher
2  Aquaman        Batman
3  Aquaman    Black Adam
4  Aquaman  Black Canary

In [71]:
# Suponiendo que quieres encontrar todas las filas donde 'Heroe ' es 'Ares'
battle_MCU_DC_df[battle_MCU_DC_df['Heroe 1'] == 'Aquaman']

     Heroe 1       Heroe 2
0    Aquaman          Ares
1    Aquaman  Atom Smasher
2    Aquaman        Batman
3    Aquaman    Black Adam
4    Aquaman  Black Canary
..       ...           ...
243  Aquaman     Wolverine
244  Aquaman          Wong
245  Aquaman  YellowJacket
246  Aquaman         Yondu
247  Aquaman          Zeus

[248 rows x 2 columns]

In [57]:
battle_MCU_DC_df.iloc[30860:30876]

              Heroe 1       Heroe 2
30860      White Wolf          Zeus
30861  Winter Soldier     Wolverine
30862  Winter Soldier          Wong
30863  Winter Soldier  YellowJacket
30864  Winter Soldier         Yondu
30865  Winter Soldier          Zeus
30866       Wolverine          Wong
30867       Wolverine  YellowJacket
30868       Wolverine         Yondu
30869       Wolverine          Zeus
30870            Wong  YellowJacket
30871            Wong         Yondu
30872            Wong          Zeus
30873    YellowJacket         Yondu
30874    YellowJacket          Zeus
30875           Yondu          Zeus

In [39]:
df_results = pd.read_csv('./data/Battle_MCU_DC_Results.csv')

In [55]:
df_results.info()
df_results.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30066 entries, 0 to 30065
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Heroe 1  30066 non-null  object
 1   Heroe 2  30066 non-null  object
 2   Result   30066 non-null  int64
dtypes: int64(1), object(2)
memory usage: 704.8+ KB

   Heroe 1       Heroe 2  Result
0  Aquaman          Ares       2
1  Aquaman  Atom Smasher       2
2  Aquaman        Batman       2
3  Aquaman    Black Adam       2
4  Aquaman  Black Canary       2

In [59]:
df_results.iloc[30860:30876]

Empty DataFrame
Columns: [Heroe 1, Heroe 2, Result]
Index: []

In [41]:
df_results.iloc[500:510]

          Heroe 1         Heroe 2  Result
500  Atom Smasher     Doctor Fate       2
501  Atom Smasher   Doctor Sivana       2
502  Atom Smasher        Doomsday       2
503  Atom Smasher       El Diablo       2
504  Atom Smasher     Enchantress       2
505  Atom Smasher            Envy       2
506  Atom Smasher           Faora       2
507  Atom Smasher  Freddy Freeman       2
508  Atom Smasher     General Zod       2
509  Atom Smasher        Gluttony       2

In [42]:
# Funcion visualizar enfrentamiento concreto
def visualizar_enfrentamiento(df_results, heroe1, heroe2):
    enfrentamiento = df_results[(df_results['Heroe 1'] == heroe1) & (df_results['Heroe 2'] == heroe2)]
    if enfrentamiento.empty:
        enfrentamiento = df_results[(df_results['Heroe 1'] == heroe2) & (df_results['Heroe 2'] == heroe1)]
    
    if not enfrentamiento.empty:
        print(enfrentamiento)
    else:
        print(f"No se encontr un enfrentamiento entre {heroe1} y {heroe2}")

In [43]:
# Ejemplo
visualizar_enfrentamiento(df_results, 'Captain Carter (Earth 838)', 'Thor')

                          Heroe 1 Heroe 2  Result
18416  Captain Carter (Earth 838)    Thor       2

In [44]:
df_results[(df_results['Heroe 1'] == 'Hulk') | (df_results['Heroe 2'] == 'Hulk')]

            Heroe 1       Heroe 2  Result
127         Aquaman          Hulk       2
370            Ares          Hulk       2
612    Atom Smasher          Hulk       2
853          Batman          Hulk       2
1093     Black Adam          Hulk       2
...             ...           ...     ...
23505          Hulk     Wolverine       2
23506          Hulk          Wong       2
23507          Hulk  YellowJacket       2
23508          Hulk         Yondu       2
23509          Hulk          Zeus       2

[245 rows x 3 columns]

Merge para crear data final

In [45]:
df_marvel_dc

,nombre_completo,nombre,universo,url,Intelligence,Strength,Speed,Durability,Power,Combat,Tier,Tier2,superpoderes,heroe
0,Arthur Curry,Aquaman,DC Extended Universe,https://www.superherodb.com/aquaman/10-12533/,65,50,25,30,45,80,3,NaN,"['Animal Control', 'Durability', 'Stamina', 'S...",Aquaman
1,Ares,Ares,DC Extended Universe,https://www.superherodb.com/ares/10-12597/,90,100,50,50,70,100,4,4,"['Accelerated Healing', 'Chain Manipulation', ...",Ares
2,Albert Rothstein,Atom Smasher,DC Extended Universe,https://www.superherodb.com/atom-smasher/10-27...,60,30,25,25,40,20,2,NaN,"['Jaw Strength', 'Large Size', 'Size Changing'...",Atom Smasher
3,Bruce Wayne,Batman,DC Extended Universe,https://www.superherodb.com/batman/10-12530/,80,13,11,15,20,95,1,NaN,"['Bloodlust', 'Dexterity', 'Disguise Mastery',...",Batman
4,Teth-Adam,Black Adam,DC Extended Universe,https://www.superherodb.com/black-adam/10-21003/,65,100,75,45,75,75,3,3,"['Afterimage Creation', 'Agility', 'Cold Resis...",Black Adam
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,Logan,Wolverine,Marvel Cinematic Universe,https://www.superherodb.com/wolverine/10-66814/,70,5,17,35,50,85,1,1,"['Accelerated Healing', 'Berserk Mode', 'Blood...",Wolverine
172,Wong,Wong,Marvel Cinematic Universe,https://www.superherodb.com/wong/10-13900/,70,5,25,20,75,75,3,3,"['Astral Projection', 'Dimensional Travel', 'F...",Wong
173,Darren Cross,YellowJacket,Marvel Cinematic Universe,https://www.superherodb.com/yellowjacket/10-13...,65,25,25,20,50,30,1,NaN,"['Durability', 'Size Changing', 'Agility', 'En...",Yellowjacket
174,Yondu,Yondu,Marvel Cinematic Universe,https://www.superherodb.com/yondu/10-13901/,55,5,20,15,20,60,1,NaN,"['Stamina', 'Marksmanship', 'Master Tactician'...",Yondu
175,Zeus,Zeus,Marvel Cinematic Universe,https://www.superherodb.com/zeus/10-29645/,85,100,75,60,90,75,4,4,"['Agility', 'Durability', 'Electricity Resista...",Zeus

In [46]:
df_results

            Heroe 1       Heroe 2  Result
0           Aquaman          Ares       2
1           Aquaman  Atom Smasher       2
2           Aquaman        Batman       2
3           Aquaman    Black Adam       2
4           Aquaman  Black Canary       2
...             ...           ...     ...
30061          Wong          Zeus       2
30062  YellowJacket         Yondu       2
30063  YellowJacket          Zeus       2
30064         Yondu          Zeus       2
30065       Aquaman    Lex Luthor       1

[30066 rows x 3 columns]

In [47]:
# Merge heroes 1
battles_merged_1 = df_results.merge(df_marvel_dc, left_on='Heroe 1', right_on='heroe', suffixes=('', '_Heroe1'))

# Merge heroes 2
battles_merged = battles_merged_1.merge(df_marvel_dc, left_on='Heroe 2', right_on='heroe', suffixes=('_Heroe1', '_Heroe2'))

# Seleccionar columnas 
battles_final_all_attributes = battles_merged[['Heroe 1', 'Heroe 2', 'Result',
                                               'universo_Heroe1', 'superpoderes_Heroe1',
                                               'Intelligence_Heroe1', 'Strength_Heroe1', 'Speed_Heroe1', 
                                               'Durability_Heroe1', 'Power_Heroe1', 'Combat_Heroe1', 
                                               'Tier_Heroe1', 'Tier2_Heroe1',
                                               'universo_Heroe2', 'superpoderes_Heroe2',
                                               'Intelligence_Heroe2', 'Strength_Heroe2', 'Speed_Heroe2', 
                                               'Durability_Heroe2', 'Power_Heroe2', 'Combat_Heroe2', 
                                               'Tier_Heroe2', 'Tier2_Heroe2']]

In [48]:
battles_final_all_attributes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25510 entries, 0 to 25509
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Heroe 1              25510 non-null  object
 1   Heroe 2              25510 non-null  object
 2   Result               25510 non-null  int64
 3   universo_Heroe1      25510 non-null  object
 4   superpoderes_Heroe1  25510 non-null  object
 5   Intelligence_Heroe1  25510 non-null  int64
 6   Strength_Heroe1      25510 non-null  int64
 7   Speed_Heroe1         25510 non-null  object
 8   Durability_Heroe1    25510 non-null  int64
 9   Power_Heroe1         25510 non-null  int64
 10  Combat_Heroe1        25510 non-null  int64
 11  Tier_Heroe1          25510 non-null  int64
 12  Tier2_Heroe1         4764 non-null   object
 13  universo_Heroe2      25510 non-null  object
 14  superpoderes_Heroe2  25510 non-null  object
 15  Intelligence_Heroe2  25510 non-null  int64
 16  Strength_Heroe2      25510 non-null  int64
 17  Speed_Heroe2         25510 non-null  object
 18  Durability_Heroe2    25510 non-null  int64
 19  Power_Heroe2         25510 non-null  int64
 20  Combat_Heroe2        25510 non-null  int64
 21  Tier_Heroe2          25510 non-null  int64
 22  Tier2_Heroe2         6826 non-null   object
dtypes: int64(13), object(10)
memory usage: 4.5+ MB

In [49]:
df_marvel_dc[df_marvel_dc['nombre'] == 'Ronan The Accuser']

,nombre_completo,nombre,universo,url,Intelligence,Strength,Speed,Durability,Power,Combat,Tier,Tier2,superpoderes,heroe
125,Ronan,Ronan The Accuser,Marvel Cinematic Universe,https://www.superherodb.com/ronan-the-accuser/...,65,55,25,35,55,90,2,2,"['Berserk Mode', 'Bloodlust', 'Cold Resistance...",Ronan the Accuser

In [50]:
df_results[df_results['Heroe 1'] == 'Drax The Destroyer']

                  Heroe 1       Heroe 2  Result
20053  Drax The Destroyer     Ebony Maw       2
20054  Drax The Destroyer          Echo       2
20055  Drax The Destroyer           Ego       2
20056  Drax The Destroyer       Elektra       2
20057  Drax The Destroyer      Eternity       2
...                   ...           ...     ...
20189  Drax The Destroyer     Wolverine       2
20190  Drax The Destroyer          Wong       2
20191  Drax The Destroyer  YellowJacket       2
20192  Drax The Destroyer         Yondu       2
20193  Drax The Destroyer          Zeus       2

[141 rows x 3 columns]

In [51]:
battles_final_all_attributes[battles_final_all_attributes['Heroe 2'] == 'Ronan The Accuser']

Empty DataFrame
Columns: [Heroe 1, Heroe 2, Result, universo_Heroe1, superpoderes_Heroe1, Intelligence_Heroe1, Strength_Heroe1, Speed_Heroe1, Durability_Heroe1, Power_Heroe1, Combat_Heroe1, Tier_Heroe1, Tier2_Heroe1, universo_Heroe2, superpoderes_Heroe2, Intelligence_Heroe2, Strength_Heroe2, Speed_Heroe2, Durability_Heroe2, Power_Heroe2, Combat_Heroe2, Tier_Heroe2, Tier2_Heroe2]
Index: []

[0 rows x 23 columns]

In [52]:
# Identificar hroes nicos en el archivo de resultados de batalla
heroes_in_battles = set(df_results['Heroe 1']).union(set(df_results['Heroe 2']))

# Identificar hroes nicos en el archivo de datos de hroes
heroes_in_data = set(df_marvel_dc['heroe'])

# Identificar hroes que faltan en el archivo de datos de hroes
missing_heroes = heroes_in_battles - heroes_in_data

print("Hroes faltantes:", missing_heroes)

Hroes faltantes: {'Ronan The Accuser', 'Iron Man (Mk 1)', 'Wonder Woman (Armor of Asteria)', 'Ancient One (time stone)', 'Talos The Untamed', 'Drax The Destroyer', 'Korath The Pursuer', 'Loki (Keeper Of The Multiverse)', "M'baku", 'Captain Carter (Earth 838)', "G'iah", 'Sersi (uni-mind)', 'YellowJacket', 'Gorr The God Butcher', 'Jemiah The Analyzer', 'Black Bolt (Earth 838)', 'Wanda Maximoff (Pre-WandaVision)', 'Whiplash (Mark II)', 'Arishem The Judge', 'Ronan The Accuser (Power Stone)', 'Mr. Fantastic (Earth 838)'}