PROCESO ML

#### Bibliotecas

In [2]:
import bootcampviztools as bt
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import modulo_toolbox as mtb
import seaborn as sns
import toolbox_ML as tb
import warnings

warnings.filterwarnings('ignore')

#### Cargar dataset y primeras visualizaciones

In [2]:
# Data crude suicide rates
df_suicide = pd.read_csv('./data/crude suicide rates.csv')

In [4]:
df_suicide.head()

,Unnamed: 0,Unnamed: 1,"Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease","Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease.1","Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease.2",Crude suicide rates (per 100 000 population),Crude suicide rates (per 100 000 population).1,Crude suicide rates (per 100 000 population).2
0,Country,Year,Both sexes,Male,Female,Both sexes,Male,Female
1,Afghanistan,2016,29.8,31.8,27.7,4.7,7.6,1.5
2,Afghanistan,2015,29.8,31.9,27.8,4.8,7.8,1.5
3,Afghanistan,2010,31.7,34.1,29.4,5.1,8.6,1.4
4,Afghanistan,2005,34.1,36.5,31.6,6.3,10.8,1.5

In [3]:
df_suicide.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 916 entries, 0 to 915
Data columns (total 8 columns):
 #   Column                                                                                                                                           Non-Null Count  Dtype
---  ------                                                                                                                                           --------------  -----
 0   Unnamed: 0                                                                                                                                       916 non-null    object
 1   Unnamed: 1                                                                                                                                       916 non-null    object
 2   Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease    916 non-null    object
 3   Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease.1  916 non-null    object
 4   Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease.2  916 non-null    object
 5   Crude suicide rates (per 100 000 population)                                                                                                     916 non-null    object
 6   Crude suicide rates (per 100 000 population).1                                                                                                   916 non-null    object
 7   Crude suicide rates (per 100 000 population).2                                                                                                   916 non-null    object
dtypes: object(8)
memory usage: 57.4+ KB

In [5]:
tb.describe_df(df_suicide)

,Unnamed: 0,Unnamed: 1,"Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease","Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease.1","Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease.2",Crude suicide rates (per 100 000 population),Crude suicide rates (per 100 000 population).1,Crude suicide rates (per 100 000 population).2
Data type,object,object,object,object,object,object,object,object
Percent missing (%),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Unique values,184,6,243,282,242,241,316,151
Cardinality percent (%),20.087336,0.655022,26.528384,30.786026,26.419214,26.310044,34.497817,16.484716

In [10]:
# Data share-with-alcohol-substance-use-disorder
df_substance = pd.read_csv('./data/share-with-alcohol-and-substance-use-disorders 1990-2016.csv')

In [12]:
df_substance.head()

,Entity,Code,Year,Prevalence - Alcohol and substance use disorders: Both (age-standardized percent) (%)
0,Afghanistan,AFG,1990,1.530549
1,Afghanistan,AFG,1991,1.530105
2,Afghanistan,AFG,1992,1.529283
3,Afghanistan,AFG,1993,1.530944
4,Afghanistan,AFG,1994,1.532076

In [11]:
df_substance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6156 entries, 0 to 6155
Data columns (total 4 columns):
 #   Column                                                                                 Non-Null Count  Dtype
---  ------                                                                                 --------------  -----
 0   Entity                                                                                 6156 non-null   object
 1   Code                                                                                   5292 non-null   object
 2   Year                                                                                   6156 non-null   int64
 3   Prevalence - Alcohol and substance use disorders: Both (age-standardized percent) (%)  6156 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 192.5+ KB

In [13]:
tb.describe_df(df_substance)

,Entity,Code,Year,Prevalence - Alcohol and substance use disorders: Both (age-standardized percent) (%)
Data type,object,object,int64,float64
Percent missing (%),0.0,14.035088,0.0,0.0
Unique values,228,196,27,6156
Cardinality percent (%),3.703704,3.183886,0.438596,100.0

In [14]:
df_substance.nunique()

Entity                                                                                    228
Code                                                                                      196
Year                                                                                       27
Prevalence - Alcohol and substance use disorders: Both (age-standardized percent) (%)    6156
dtype: int64

In [22]:
df_substance['Entity'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa',
       'Andean Latin America', 'Andorra', 'Angola', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Australasia', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia',
       'Cameroon', 'Canada', 'Cape Verde', 'Caribbean',
       'Central African Republic', 'Central Asia', 'Central Europe',
       'Central Latin America', 'Central Sub-Saharan Africa', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'East Asia', 'Eastern Europe',
       'Eastern Sub-Saharan Africa', 'Ecuador', 'Egypt', 'El Salvador',
       'England', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia',
       'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Greenland', 'Grenada', 'Guam',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'High SDI', 'High-income Asia Pacific', 'High-middle SDI',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latin America and Caribbean', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Low SDI', 'Low-middle SDI',
       'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania',
       'Mauritius', 'Mexico', 'Micronesia (country)', 'Middle SDI',
       'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Africa and Middle East',
       'North America', 'North Korea', 'Northern Ireland',
       'Northern Mariana Islands', 'Norway', 'Oceania', 'Oman',
       'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico',
       'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Asia', 'South Korea', 'South Sudan', 'Southeast Asia',
       'Southern Latin America', 'Southern Sub-Saharan Africa', 'Spain',
       'Sri Lanka', 'Sub-Saharan Africa', 'Sudan', 'Suriname',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tropical Latin America', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Vietnam', 'Wales', 'Western Europe',
       'Western Sub-Saharan Africa', 'World', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [21]:
df_substance.value_counts('Code')

Code
AFG    27
MUS    27
MYS    27
NAM    27
NER    27
       ..
GMB    27
GNB    27
GNQ    27
GRC    27
ZWE    27
Name: count, Length: 196, dtype: int64

PRUEBA

In [5]:
df_prueba1 = pd.read_csv('./prueba/05001.csv', sep = ';')
df_prueba1.head()

                 Edad         Sexo  Total
0    Todas las edades  Ambos sexos  4,227
1    Todas las edades      Hombres  3,126
2    Todas las edades      Mujeres  1,101
3  Menores de 15 años  Ambos sexos     12
4  Menores de 15 años      Hombres      9

In [6]:
df_prueba2 = pd.read_csv('./prueba/05006.csv', sep = ';')
df_prueba2.head()

  Mes de defunción         Sexo                Edad  Total
0  Todos los meses  Ambos sexos    Todas las edades  4,227
1  Todos los meses  Ambos sexos  Menores de 15 años     12
2  Todos los meses  Ambos sexos     De 15 a 29 años    341
3  Todos los meses  Ambos sexos     De 30 a 39 años    436
4  Todos los meses  Ambos sexos     De 40 a 44 años    350