<div style="position: relative; text-align: center; color: white; height: 400px; width: 100%;">
  <img src="images/portada_ML.webp" alt="Logo del Proyecto" style="width: 100%; height: 100%; object-fit: cover; opacity: 0.7;">
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 80%;">
    <h1 style="font-size: 2.5em; background-color: rgba(0, 0, 0, 0.5); padding: 10px;">
      Simulador de Batallas de Superhéroes
    </h1>
    <h2 style="font-size: 1.5em; background-color: rgba(0, 0, 0, 0.5); padding: 5px;">
      Un Enfoque Basado en Machine Learning para Predecir Resultados en el Universo de Cómics y Películas
    </h2>
  </div>
</div>

Bibliotecas

In [1]:
import numpy as np
import pandas as pd

Cargar data y visualizacion

In [2]:
df_pred_battles = pd.read_csv('./data/MCU_DC_final_limpio.csv')

In [4]:
df_pred_battles.info()
df_pred_battles.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48319 entries, 0 to 48318
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Heroe 1              48319 non-null  object
 1   Heroe 2              48319 non-null  object
 2   Resultado_Comics     48319 non-null  int64
 3   Resultado_Peliculas  48319 non-null  int64
 4   Resultado_Combinado  48319 non-null  int64
 5   Universe_1           48319 non-null  object
 6   Intelligence_1       48319 non-null  int64
 7   Strength_1           48319 non-null  int64
 8   Speed_1              48319 non-null  int64
 9   Durability_1         48319 non-null  int64
 10  Power_1              48319 non-null  int64
 11  Combat_1             48319 non-null  int64
 12  Tier_1               48319 non-null  int64
 13  Tier2_1              48319 non-null  int64
 14  Superpowers_1        48319 non-null  object
 15  Universe_2           48319 non-null  object
 16  Intelligence_2       48319 non-null  int64
 17  Strength_2           48319 non-null  int64
 18  Speed_2              48319 non-null  int64
 19  Durability_2         48319 non-null  int64
 20  Power_2              48319 non-null  int64
 21  Combat_2             48319 non-null  int64
 22  Tier_2               48319 non-null  int64
 23  Tier2_2              48319 non-null  int64
 24  Superpowers_2        48319 non-null  object
 25  Victory_1            48319 non-null  int64
 26  Victory_2            48319 non-null  int64
 27  Ganador_Universe     48319 non-null  object
 28  Ganador_Heroe        48319 non-null  object
 29  Perdedor_Heroe       48319 non-null  object
dtypes: int64(21), object(9)
memory usage: 11.1+ MB

,Heroe 1,Heroe 2,Resultado_Comics,Resultado_Peliculas,Resultado_Combinado,Universe_1,Intelligence_1,Strength_1,Speed_1,Durability_1,...,Power_2,Combat_2,Tier_2,Tier2_2,Superpowers_2,Victory_1,Victory_2,Ganador_Universe,Ganador_Heroe,Perdedor_Heroe
0,Envy,Ancient One,2,1,2,DC Extended Universe,65,65,65,40,...,90,100,4,0,"['Anti-Gravity', 'Astral Projection', 'Dimensi...",0,1,Marvel Cinematic Universe,Ancient One,Envy
1,Warlock,Ancient One,1,2,1,Marvel Cinematic Universe,45,50,25,35,...,90,100,4,0,"['Anti-Gravity', 'Astral Projection', 'Dimensi...",1,0,Marvel Cinematic Universe,Warlock,Ancient One
2,Deadshot,Ancient One,2,1,2,DC Extended Universe,60,1,6,7,...,90,100,4,0,"['Anti-Gravity', 'Astral Projection', 'Dimensi...",0,1,Marvel Cinematic Universe,Ancient One,Deadshot
3,Doctor Fate,Ancient One,1,2,1,DC Extended Universe,85,75,60,45,...,90,100,4,0,"['Anti-Gravity', 'Astral Projection', 'Dimensi...",1,0,DC Extended Universe,Doctor Fate,Ancient One
4,Cull Obsidian,Ancient One,1,2,1,Marvel Cinematic Universe,60,75,20,40,...,90,100,4,0,"['Anti-Gravity', 'Astral Projection', 'Dimensi...",1,0,Marvel Cinematic Universe,Cull Obsidian,Ancient One

Limpieza de datos

In [7]:
# Normalizacion Heroe 1 y Heroe 2 
df_pred_battles['Heroe 1'] = df_pred_battles['Heroe 1'].str.strip().str.title()
df_pred_battles['Heroe 2'] = df_pred_battles['Heroe 2'].str.strip().str.title()

df_pred_battles[['Heroe 1', 'Heroe 2']].head()

         Heroe 1      Heroe 2
0           Envy  Ancient One
1        Warlock  Ancient One
2       Deadshot  Ancient One
3    Doctor Fate  Ancient One
4  Cull Obsidian  Ancient One

In [9]:
# Mapeo de los universos 
mapping_universe = {
    'Dc Extended Universe': 0,
    'Marvel Cinematic Universe': 1
}

# Aplicar la transformación
df_pred_battles['Universe_1'] = df_pred_battles['Universe_1'].map(mapping_universe)
df_pred_battles['Universe_2'] = df_pred_battles['Universe_2'].map(mapping_universe)

df_pred_battles[['Universe_1', 'Universe_2']].head()

   Universe_1  Universe_2
0           0           1
1           1           1
2           0           1
3           0           1
4           1           1